<!DOCTYPE html>
<html>

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155299873-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-155299873-1');
	</script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Scrollama: Sticky Side Example">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{{name}}} {{{intro.lesson_num}}}</title>

	<base href="/" />
	<link rel='stylesheet' href='css/text.css'>
	<link rel='stylesheet' href='css/main.css'>
	<link rel='stylesheet' href='css/fig1.css'>
	<link rel='stylesheet' href='css/fig2.css'>
	<link rel='stylesheet' href='css/slider.css'>
	<link rel='stylesheet' href='css/popover.css'>
	<link rel='stylesheet' href='css/faq.css'>

	<link href="https://fonts.googleapis.com/css?family=Khula:300,600,700,800|Montserrat:300,400&display=swap" rel="stylesheet">
</head>

<body>
	<main>

		{{! <div class="section_div"> }}
		<div id="header">
			<div id="logo-div">
				<h3>{{{name}}}</h3>
			</div>

			<div id="header-right-side">
				<div class="flex__parent" id="social-icons-container">
					<p>About</p>
					<a href='https://twitter.com/BigFuzzyDog' target="_blank"><img src="assets/icons/social-1_logo-twitter.svg" class="inline__block social-icon"></a>
					{{! <a href='https://www.linkedin.com/in/altshteyn/' target="_blank"><img src="assets/icons/social-1_logo-linkedin.svg" class="inline__block social-icon"></a> }}
					<a href='https://github.com/ilyaaltshteyn/scroll-and-tell' target="_blank"><img src="assets/icons/social-1_logo-github.svg" class="inline__block social-icon"></a>
				</div>
			</div>
		</div>

		<div id="custom-intro-div">
			<div id="intro-div-left">
				<div class="intro">
					<div class="intro-heading">
					<h3>{{{intro.lesson_num}}}</h3>
					<h1 id="lesson-title">{{{intro.lesson_title}}}</h1>
					</div>
				</div>
				<img src="assets/icons/arrow-down-circle.svg" id="centered-separate-img">
			</div>
			<div id='intro-div-right'>
				<div class="intro">
					<div class="intro-outline">
						<div id="preamble-line">
							<h3>
								{{{intro.preamble1}}}
							</h3>
						</div>
						<p>
							{{#intro}}
							<ul>
							{{#goals1}}
								<li><p>{{{.}}}</p></li>
							{{/goals1}}
							</ul>
							{{/intro}}
						</p>
					</div>
					<div class="intro-outline">
						<div id="preamble-line">
							<h3>
								{{{intro.preamble2}}}
							</h3>
						</div>
						<p>
							{{#intro}}
							<ul>
							{{#goals2}}
								<li><p>{{{.}}}</p></li>
							{{/goals2}}
							</ul>
							{{/intro}}
						</p>
					</div>
					<div>
						<p>
							<em>Technical keywords:</em> classification, KNN, hyperparameters, accuracy.
						</p>
					</div>
				</div>
			</div>
		</div>

		<section class="scroll__section" id='section-part1'>
			<div class="section_div">

				<figure class="sideways-heading">
					<h4 class="section-name-text">Classification Problems</h4>
				</figure>
				<div class="scroll__graphic">
					<article>
						<div class='step' data-step='1'>
							<h2>{{{part1.step1.heading}}}</h2>
							<p>{{{part1.step1.texta}}}</p>
							<p>
								{{{part1.step1.textb}}}
								<br><br><br>
								<img src="assets/icons/corner-down-right.svg">
							</p>
						</div>
						<div class='step' data-step='2'>
							<h2>{{{part1.step2.heading}}}</h2>
							<p>{{{part1.step2.texta}}}</p>
							<p>{{{part1.step2.textb}}}</p>
							
							<div id="classification-diagram">
								<div class='flex__parent'>
									<div class='inline__block centered diagram-row-1-left'>
										<mark><code>Price per<br>night = 50</code></mark>
									</div>
									<div class='inline__block centered diagram-row-1-right'>
										<mark><code>Minimum #<br>Nights = 5</code></mark>
									</div>
								</div>
								<div class='flex__parent diagram-row-2'>
									<img src="assets/icons/arrow-down-right.svg" class="inline__block centered diagram-row-2-left">
									<img src="assets/icons/arrow-down-left.svg" class="inline__block centered diagram-row-2-right">
								</div>
								<div class='flex__parent centered diagram-row-3'>
									<img src="assets/icons/monitor.svg" class="inline__block centered monitor-icon">
								</div>
								<div class='flex__parent'>
									<img src="assets/icons/arrow-down.svg" class="inline__block centered">
								</div>
								<div class='flex__parent'>
									<mark class='.inline__block centered'><code>"It's an entire house!"</code></mark>
								</div>
							</div>

						</div>
						<div class='step' data-step='3'>
							<h2>{{{part1.step3.heading}}}</h2>
							<p>{{{part1.step3.texta}}}</p>
							<div class='flex__parent little_icon'>
								<img src="assets/icons/help-circle.svg" class="inline__block">
								<p class='italic inline__block inline__block__text'>
									{{{part1.step3.textb}}}
								</p>
							</div>
						</div>
						<div class='step' data-step='4'>
							<h2>{{{part1.step4.heading}}}</h2>
							<p>{{{part1.step4.texta}}}</p>
							<p>{{{part1.step4.textb}}}</p>
							<p>{{{part1.step4.textc}}}</p>
							<div class='continue_pointer'>
								<img src="assets/icons/arrow-down-circle-small-black.svg" class='inline__block continue_pointer_icon'>
							</div>
						</div>
					</article>
				</div>

				<figure id='figure1' class='figure-for-canvas'></figure>
			</div>
		</section>

		<section class="scroll__section" id='section-part2'>
			<div class="section_div">

				<figure class="sideways-heading">
					<h4 class="section-name-text">K-Nearest Neighbors</h4>
				</figure>
				<div class="scroll__graphic">
					<article>
						<div class='step' data-step='6'>
							<h2>{{{part2.step1.heading}}}</h2>
							<p>{{{part2.step1.texta}}}</p>
						</div>
						<div class='step' data-step='7'>
							<h2>{{{part2.step2.heading}}}</h2>
							<p>{{{part2.step2.texta}}}</p>
							<p>{{{part2.step2.textb}}}</p>
						</div>
						<div class='step' data-step='8'>
							<h2>{{{part2.step3.heading}}}</h2>
							<div class='flex__parent little_icon'>
								<img src="assets/icons/help-circle.svg" class="inline__block">
								<p class='italic inline__block inline__block__text'>
									{{{part2.step3.texta}}}
								</p>
							</div>
							<p>{{{part2.step3.textb}}}</p>
							<div class='flex__parent little_icon'>
								<img src="assets/icons/help-circle.svg" class="inline__block">
								<p class='italic inline__block inline__block__text'>
									{{{part2.step3.textc}}}
								</p>
							</div>
							<p>{{{part2.step3.textd}}}</p>
						</div>
						<div class='step' data-step='9'>
							<h2>{{{part2.step4.heading}}}</h2>
							<p>{{{part2.step4.texta}}}</p>
							<p>{{{part2.step4.textb}}}</p>
						</div>
						<div class='step' data-step='10'>
							<h2>{{{part2.step5.heading}}}</h2>
							<p>{{{part2.step5.texta}}}</p>
							<p>{{{part2.step5.textb}}}</p>
							<div class="slidecontainer">
							  <div class="slider-div">
									<h1 id='k_equals_value'></h1>
									<input type="range" min="1" max="60" value="5" class="slider" id="myRange">
								</div>
							</div>
						</div>
						<div class='step' data-step='11'>
							<h2>{{{part2.step6.heading}}}</h2>
							<p>{{{part2.step6.texta}}}</p>
							<p>{{{part2.step6.textb}}}</p>
							<div class='flex__parent little_icon'>
								<img src="assets/icons/help-circle.svg" class="inline__block">
								<p class='italic inline__block inline__block__text'>
									{{{part2.step6.textc}}}
								</p>
							</div>
						</div>
						<div class='step' data-step='12'>
							<h2>{{{part2.step7.heading}}}</h2>
							<p>{{{part2.step7.texta}}}</p>
							<p>{{{part2.step7.textb}}}</p>
							<p>{{{part2.step7.textc}}}</p>
							<div class='continue_pointer'>
								<img src="assets/icons/arrow-down-circle-small-black.svg" class='inline__block continue_pointer_icon'>
							</div>
						</div>
					</article>
				</div>
				<figure id='figure2' class='figure-for-canvas'></figure>

			</div>
		</section>

		<section id='section-faq'>
			<div class="section_div">

				<figure class="sideways-heading">
					<h4 class="section-name-text">FAQ!</h4>
				</figure>

				<div class="grid-container">
					<div class="grid-item" id='grid-text-1'>
						<h2>
							{{{faq.heading}}}
						</h2>
						<p>
							{{{faq.intro}}}
							<br><br><br>
							<img src="assets/icons/corner-down-right.svg">
						</p>

					</div>

				  	<div class="grid-item">
						<button type="button" class="collapsible"><p><img src="assets/icons/help-circle-white.svg" class="inline__block"><em>{{{faq.q1}}}</em></p></button>
						<div class="content">
							<p>{{{faq.a1}}}</p>
						</div>
					</div>


				  	<div class="grid-item">
						<button type="button" class="collapsible"><p><img src="assets/icons/help-circle-white.svg" class="inline__block"><em>{{{faq.q2}}}</em></p></button>
						<div class="content">
						  <p>{{{faq.a2}}}</p>
						</div>
					</div>

					<div class="grid-item">
						<button type="button" class="collapsible"><p><img src="assets/icons/help-circle-white.svg" class="inline__block"><em>{{{faq.q3}}}</em></p></button>
						<div class="content">
							<p>{{{faq.a3}}}</p>
						</div>
					</div>

					<div class="grid-item">
						<button type="button" class="collapsible"><p><img src="assets/icons/help-circle-white.svg" class="inline__block"><em>{{{faq.q4}}}</em></p></button>
						<div class="content">
							<p>{{{faq.a4}}}</p>
						</div>
					</div>

				</div>
			</div>
		</section>

		<section id='section-outro'>
			<div class="section_div centered_text_wrapper">
				<div class='bottom_margined' id='inline__block'><p>I loved making this.</p></div>
				<div class='bottom_margined' id='inline__block'><h3>I hope you enjoyed reading!</h3></div>
				<div id='inline__block'><p>Let me know if you think I should make more lessons.</p></div>
			</div>
		</section>

		<div id='section-footer' class="flex__parent">
			<div  class='footer_content inline__block'>
				<h3>Get in touch: ilya@gmail.com</h3>
			</div>
		</div>
	</main>

	<!-- <div class='debug'></div> -->

	<script src="https://d3js.org/d3.v4.js"></script>
	<script src='https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js'></script>
	<script src="https://unpkg.com/d3-simple-slider"></script>
	<script src='javascript/stickyfill.min.js'></script>
	<script src='javascript/scrollama.min.js'></script>
	<script src='javascript/fig1.js'></script>
	<script src='javascript/fig2.js'></script>
	<script src='javascript/faq.js'></script>
	<script src='javascript/main.js'></script>
</body>

</html>
