<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>dot-run: {{intro.lesson_num}}</title>
	<meta name="description" content="Scrollama: Sticky Side Example">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='css/style.css'>
	<link rel='stylesheet' href='css/main.css'>

</head>

<body>
	<main>
		<div class="header">
		  <div id="header-logo">
		    <h2>dot-run</h2>
		  </div>
		</div>

		<div class="intro">
		  <h3 class="intro" id="lesson-num">{{intro.lesson_num}}</h3>
		  <h1 class="intro" id="lesson-name">{{intro.lesson_title}}</h1>
		  <h2>{{intro.preamble}}</h2>
			{{#intro}}
		    <ul>
	        {{#goals}}
	            <li><p>{{.}}</p></li>
	        {{/goals}}
		    </ul>
			{{/intro}}

		  </p>
		</div>

		<section class="scroll__section" id='scrolly1'>
			<div class="scroll__graphic">
				<article>
					<div class='step' data-step='1'>
						<p>{{part1.step1}}</p>
						<p>{{part1.step1a}}</p>
					</div>
					<div class='step' data-step='2'>
						<p>{{part1.step2}}</p>
						<p>{{part1.step2a}}</p>
					</div>
					<div class='step' data-step='3'>
						<p>{{part1.step3}}</p>
					</div>
					<div class='step' data-step='4'>
						<p>{{part1.step4}}</p>
						<p>{{part1.step4a}}</p>
					</div>
					<div class='step' data-step='5'>
						<p>{{part1.step5}}</p>
					</div>
				</article>
			</div>

			<figure id='figure1'>
				<p>Nothing yet...</p>
			</figure>
		</section>

		<section class="scroll__section" id='scrolly2'>
			<div class="scroll__graphic">
				<article>
					<div class='step' data-step='6'>
						<p>{{part2.step1}}</p>
					</div>
					<div class='step' data-step='7'>
						<p>{{part2.step2}}</p>
					</div>
					<div class='step' data-step='8'>
						<p>{{part2.step3}}</p>
					</div>
					<div class='step' data-step='9'>
						<p>{{part2.step4}}</p>
						<p>{{part2.step4a}}</p>
					</div>
					<div class='step' data-step='10'>
						<p>{{part2.step5}}</p>
						<p>{{part2.step5a}}</p>
					</div>
					<div class='step' data-step='11'>
						<p>{{part2.step6}}</p>
						<p>{{part2.step6a}}</p>
					</div>
					<div class='step' data-step='12'>
						<p>{{part2.step7}}</p>
						<p>{{part2.step7a}}</p>
					</div>
				</article>
			</div>
				<figure id='figure2'>
					<p>0</p>
				</figure>

		</section>

		<section id='outro'></section>
	</main>

	<!-- <div class='debug'></div> -->
	<!-- <script src='https://d3js.org/d3.v3.min.js' charset="utf-8"></script> -->
	<script src="https://d3js.org/d3.v4.js"></script>
	<script src='https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js'></script>
	<script src='javascript/stickyfill.min.js'></script>
	<script src='javascript/scrollama.min.js'></script>
	<script src='javascript/fig1.js'></script>
	<script src='javascript/main.js'></script>
	<!-- <script src='javascript/fig2.js'></script> -->
</body>

</html>
