<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Scrollama: Sticky Side Example">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>scroll&tell: {{intro.lesson_num}}</title>

	<base href="/" />
	<link rel='stylesheet' href='css/text.css'>
	<link rel='stylesheet' href='css/main.css'>
	<link rel='stylesheet' href='css/fig1.css'>
	<link rel='stylesheet' href='css/fig2.css'>

	<link href="https://fonts.googleapis.com/css?family=Khula:300,600,700,800|Libre+Baskerville:400i|Montserrat:300,400&display=swap" rel="stylesheet">

</head>

<body>
	<main>
		<div class="header">
		  <div id="header-logo">
		    <h2 class="header-logo-font">scroll&tell</h2>
		  </div>
		</div>

		<div class="intro">
			<div class="intro-heading">
			  <h3>{{intro.lesson_num}}</h3>
			  <h1 id="lesson-title">{{intro.lesson_title}}</h1>
			</div>
			<div class="intro-outline">
				<div id="preamble-line">
					<h3 class="question">
						<img src="assets/icons/activity.svg" class="inline-img-1">
						{{intro.preamble}}
					</h3>
				</div>
				<p>
					{{#intro}}
				    <ul>
			        {{#goals}}
			            <li><p>{{.}}</p></li>
			        {{/goals}}
				    </ul>
					{{/intro}}
				</p>
			</div>
			<img src="assets/icons/arrow-down-circle.svg" id="centered-separate-img">
		</div>

		<section class="scroll__section" id='part1'>
			<figure class="section-name-div">
				<h4 class="section-name-text">Classification Problems</h4>
			</figure>
			<div class="scroll__graphic">
				<article>
					<div class='step' data-step='1'>
						<h2>{{part1.step1.heading}}</h2>
						<p>{{part1.step1.texta}}</p>
						<p>
							{{part1.step1.textb}}
							<br><br><br>
							<img src="assets/icons/corner-down-right.svg" class="inline-img-1">
						</p>
					</div>
					<div class='step' data-step='2'>
						<h2>{{part1.step2.heading}}</h2>
						<p>{{part1.step2.texta}}</p>
						<p>{{part1.step2.textb}}</p>
					</div>
					<div class='step' data-step='3'>
						<h2>{{part1.step3.heading}}</h2>
						<p>{{part1.step3.texta}}</p>
						<div class='flex__parent'>
							<img src="assets/icons/help-circle.svg" class="inline__block">
							<p class='italic inline__block inline__block__text'>
								{{part1.step3.textb}}
							</p>
						</div>
					</div>
					<div class='step' data-step='4'>
						<h2>{{part1.step4.heading}}</h2>
						<p>{{part1.step4.texta}}</p>
						<p>{{part1.step4.textb}}</p>
						<p>{{part1.step4.textc}}</p>
						<div class='continue_pointer'>
							<img src="assets/icons/arrow-down-circle-small-black.svg" class='continue_pointer_icon'>
						</div>
					</div>
				</article>
			</div>

			<figure id='figure1' class='figure-for-canvas'></figure>
		</section>

		<section class="scroll__section" id='part2'>
			<figure class="section-name-div">
				<h4 class="section-name-text">K-Nearest Neighbors</h4>
			</figure>
			<div class="scroll__graphic">
				<article>
					<div class='step' data-step='6'>
						<h2>{{part2.step1.heading}}</h2>
						<p>{{part2.step1.texta}}</p>
					</div>
					<div class='step' data-step='7'>
						<h2>{{part2.step2.heading}}</h2>
						<p>{{part2.step2.texta}}</p>
						<p>{{part2.step2.textb}}</p>
					</div>
					<div class='step' data-step='8'>
						<h2>{{part2.step3.heading}}</h2>
						<div class='flex__parent'>
							<img src="assets/icons/help-circle.svg" class="inline__block">
							<p class='italic inline__block inline__block__text'>
								{{part2.step3.texta}}
							</p>
						</div>
						<p>{{part2.step3.textb}}</p>
						<div class='flex__parent'>
							<img src="assets/icons/help-circle.svg" class="inline__block">
							<p class='italic inline__block inline__block__text'>
								{{part2.step3.textc}}
							</p>
						</div>
						<p>{{part2.step3.textd}}</p>
					</div>
					<div class='step' data-step='9'>
						<h2>{{part2.step4.heading}}</h2>
						<p>{{part2.step4.texta}}</p>
						<p>{{part2.step4.textb}}</p>
					</div>
				</article>
			</div>
			<figure id='figure2' class='figure-for-canvas'></figure>

		</section>

		<section id='outro'></section>
	</main>

	<!-- <div class='debug'></div> -->

	<script src="https://d3js.org/d3.v4.js"></script>
	<script src='https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js'></script>
	<script src='javascript/stickyfill.min.js'></script>
	<script src='javascript/scrollama.min.js'></script>
	<script src='javascript/fig1.js'></script>
	<script src='javascript/fig2.js'></script>
	<script src='javascript/main.js'></script>
	<!-- <script src='javascript/fig2.js'></script> -->
</body>

</html>
