/* colors */
:root {
  --white: white;
  --light-grey: #f3f3f3;
  --light-grey-1: #e6e6e6;
  --light-grey-2: #D8D8D8;
  --mid-grey: #969595;
  --charcoal: #333333;
  --nearly-black: #2b2b2d;
  --navy: #1C1B20;
  --pink: #FF5851;
  --yellow: #FFF93C;
  --blue: #3C56FF;
}
