@import "colors.css";

table {
  position: absolute;
  right: 0;
  border-collapse: separate;
  border-spacing: 0;
  display: inline-block;
  box-shadow: 8px 8px 7px -6px var(--grey-4);
}

table tr th,
table tr td {
  border-bottom: 1px solid var(--grey-5);
  padding: 7px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}

table tr th {
  border-top:solid 1px var(--grey-5);
  background: var(--grey-9);
  color: var(--grey-1);
  padding-top: 11px;
  padding-bottom: 11px;
}

table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid var(--grey-5);
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid var(--grey-5);
}


table.Info tr th,
table.Info tr:first-child td
{
  border-top: 1px solid var(--grey-5);
}

/* top-left border-radius */
table tr:first-child th:first-child,
table.Info tr:first-child td:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child,
table.Info tr:first-child td:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

/* right-side border */
table tr td:last-child,
table tr th:last-child {
  border-right: 1px solid var(--grey-5);
}

/* new mystery datapoint */
.attn-newrow {
  background-color: var(--accent-3-yellow-2);
}

/* blink text color opacity only */
@-moz-keyframes text_blinker {
  0% { color: rgba(0, 0, 0, .99); }
  50% { color: rgba(0, 0, 0, 0.1); }
  100% { color: rgba(0, 0, 0, .99); }
}

@-webkit-keyframes text_blinker {
  0% { color: rgba(0, 0, 0, .99); }
  50% { color: rgba(0, 0, 0, 0.1); }
  100% { color: rgba(0, 0, 0, .99); }
}

@keyframes text_blinker {
  0% { color: rgba(0, 0, 0, .99); }
  50% { color: rgba(0, 0, 0, 0.1); }
  100% { color: rgba(0, 0, 0, .99); }
}

#table_row_ix_10 td:last-child {
  animation: text_blinker .7s linear infinite;
  -webkit-animation:.7s text_blinker linear infinite;
  -moz-animation:.7s text_blinker linear infinite;
  font-weight: bold;
}

/* hover effects */
table tr:hover {
  background-color: var(--grey-2);
}

table .attn-newrow:hover {
  background-color: var(--accent-3-yellow-3);
}
