@import "colors.css";

#figure2 svg path {
  stroke-dasharray: 5;
  stroke: var(--nearly-black);
}

.blinking {
  animation:1s blinker linear infinite;
  -webkit-animation:1s blinker linear infinite;
  -moz-animation:1s blinker linear infinite;
  fill: var(--nearly-black);
}

.outline_only {
  fill: none;
  stroke: var(--charcoal);
  stroke-width: 1;
}

.continue_pointer {
  text-align: center;
}

.continue_pointer_icon {
  display: inline-block;
  margin-top: 40%;
}

.distance_measurement {
  stroke-width: 1;
  stroke: var(--charcoal);
  opacity: .5;
}
