/* website */
html,
body {
  margin: 0;
  padding: 0;
}

.header {
  height:50px;
  width:100%;
  margin:0px auto;
  position: relative;
  padding-left: 1rem;
  padding-top: 20px;
}

.content {
  width:960px;
  background: #F0F0F0;
  border: 1px solid #CCC;
  height: 2000px;
  margin: 70px auto;
}

#header-logo {
  margin: 0;
  /* margin-left: 2% */
  position: absolute;
  top: 50%;
  /* left: 1em; */
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: black;
}

div.intro {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

div.intro-heading {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;
}

#lesson-title {
  margin-top: 16px;
}

div.intro-outline {
  text-align: left;
  margin-bottom: 95px;
}

#preamble-line {
  display: inline-block;
}

.inline-img-1 {
  vertical-align: text-top;
  padding-left: 1px;
}

#centered-separate-img {
  display: block;
  margin: auto;
}

/* scrollama elements */
.scroll__section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  padding: 1rem;
}
.scroll__section>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
article {
  position: relative;
  padding: 0 1rem;
  max-width: 33.3rem;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
}

figure.figure-for-canvas {
  background-color: #8a8a8a;
}

figure.section-name-div {
  max-width: 2%;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
}
.step {
  margin: 0 auto 2rem auto;
  background-color: #3b3b3b;
  color: #fff;
}
.step:last-child {
  margin-bottom: 0;
}
.step.is-active {
  background-color: goldenrod;
  color: #3b3b3b;
}
.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}


/* part 2 */
div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.blinking {
  animation:1s blinker linear infinite;
  -webkit-animation:1s blinker linear infinite;
  -moz-animation:1s blinker linear infinite;
  fill: yellow;
}

@-moz-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.outline_only {
  fill: none;
  stroke: black;
  stroke-width: 1;
}
