@import "colors.css";

  /* website */
html,
body {
  margin: 0;
  padding: 0;
}

svg {
  shape-rendering: crispEdges; /* Round any decimal pixels so it renders nicely */
}

div.intro {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  padding-bottom: 3rem;
}

div.intro-heading {
  text-align: center;
  margin-bottom: 50px;
}

#lesson-title {
  margin-top: 16px;
}

div.intro-outline {
  text-align: left;
  margin-bottom: 45px;
}

#preamble-line {
  display: inline-block;
}

.flex__parent {
  display: flex;
}

.flex__parent .little_icon {
  margin-bottom: -2rem;  /* bad, need to re-work */
  padding: 1rem;
}

.inline__block {
  display: inline-block;
}

.centered {
  margin: auto;
}

.inline__block__text {
  padding-left: .6rem;
  padding-bottom: 0;
}

#centered-separate-img {
  display: block;
  margin: auto;
  margin-bottom: 100px;
}

::selection {
  background-color: var(--yellow);
}

/* scrollama elements */
.scroll__section .section_div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.scroll__section .section_div>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

article {
  position: relative;
  padding: 0 1rem;
  max-width: 33.3rem;
}

figure {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
}

figure.figure-for-canvas {
  /* margin-right: 40px; */
}

figure.sideways-heading {
  margin-right: 2rem;
  max-width: 2%;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

figure p {
  text-align: left;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.step {
  margin: 0 auto 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
}
.step h2 {
  margin-bottom: 2rem;;
}
/* .step p,
.step h1,
.step h3,
.step h4 {
  text-align: left;
  padding: 1rem;
  margin-top: auto;
} */
.step p,
.step .inline__block {
  margin-bottom: 2rem;
}

.step:last-child {
  margin-bottom: 0;
}

/* section backgrounds and spacings */
/* in order in which they appear */
#custom-intro-div {
  display: flex;
  width: 100%;
}

#intro-div-left,
#intro-div-right {
  display: inline-block;
  max-width: 50%;
  padding-top: 3rem;
}

#intro-div-right {
  background-color: var(--pink);
}

#section-part1 {
  background-color: var(--light-grey);
}

#section-faq {
  background-color: var(--light-grey);
  width: 100%;
}

#section-outro {
  background-color: var(--pink);
}

#section-footer.flex__parent {
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.section_div {
  padding: 9rem 6rem 10rem 3rem;
}

.bottom_margined {
  margin-bottom: 1.2rem;
}

.centered_text_wrapper {
  text-align: center;
}

#section-faq .section_div {
  display: flex;
}

/* header styling */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  /* background-color: var(--light-grey); */
  /* border-bottom: var(--charcoal) .5px solid; */
}

#header p,
#header h2 {
  color: var(--nearly-black);
}

#logo-div {
  /* display: inline-block; */
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 3rem;
}

#header-right-side {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40px;  /* same height as #social-icons-container!!!! */
  width: 300px;
  margin-right: 3rem;
}

#social-icons-container {
  justify-content: flex-end;
  align-items: center;
  height: 40px;  /* same height as #header-right-side!!!! */
  width: 100%;
}

.social-icon {
  padding-left: 15px;
}

/* classification diagram */
.diagram-row-1-left {
  height: 1rem;
  margin-bottom: .4rem;
  right: 0;
  margin-right: 2rem;
}

.diagram-row-1-right {
  height: 1rem;
  margin-bottom: .4rem;
  left: 0;
  margin-left: 2rem;
}

.diagram-row-2 {
  margin-bottom: 0;
  height: 1.85rem;
}

.diagram-row-2-left {
  /* height: 2rem; */
  right: 0;
  margin-right: 1.5rem;
}

.diagram-row-2-right {
  /* height: 2rem; */
  left: 0;
  margin-left: 1.5rem;
}

.diagram-row-3 {
  margin-top: 0;
  height: 2rem;
  margin-bottom: 1rem;
}

.monitor-icon {
  margin-top: .5rem;
  height: 1.85rem;
}