@import "colors.css";

/* element-level */
p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Khula', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  font-style: normal;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  color: var(--nearly-black);
}

h4 {
  font-weight: 300;
  font-size: 18px;
  color: var(--pink);
}

p {
  color: var(--nearly-black);
}

p,
table,
text.axis-label,
g.tick text,
text#prop_privates,
text#prop_homes,
text#model_results_heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 200;
  padding: .1rem;
}

/* more specific but still general */
.italic {
  font-style: italic;
}

text.axis-label {
  color: var(--nearly-black);
  text-transform: uppercase;
  font-size: .8rem;
}

text#prop_privates {
  fill: var(--blue);
  text-transform: uppercase;
  font-size: .8rem;
}

text#prop_homes {
  fill: var(--pink);
  text-transform: uppercase;
  font-size: .8rem;
}

text#model_results_heading {
  text-transform: uppercase;
  font-weight: bold;
}

g.tick text {
  font-size: 12px;
  color: var(--nearly-black);
}

/* let's get specific */
.question {
  font-family: 'Libre Baskerville', serif;
  font-size: 21px;
  font-style: italic;
}

.header-logo-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 30px;
}

#lesson-title {
  font-size: 2.9vw;
}

.section-name-text {
  text-align: center;
}
