/* blink any element's opacity */
@-moz-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/* blink text color opacity only */
@-moz-keyframes text_blinker {
  0% { color: rgba(0, 0, 0, .99); }
  50% { color: rgba(0, 0, 0, 0.1); }
  100% { color: rgba(0, 0, 0, .99); }
}

@-webkit-keyframes text_blinker {
  0% { color: rgba(0, 0, 0, .99); }
  50% { color: rgba(0, 0, 0, 0.1); }
  100% { color: rgba(0, 0, 0, .99); }
}

@keyframes text_blinker {
  0% { color: rgba(0, 0, 0, .99); }
  50% { color: rgba(0, 0, 0, 0.1); }
  100% { color: rgba(0, 0, 0, .99); }
}
